.item-deals {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    background: rgb(207, 198, 252);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.item-deals__txt {
    align-self: center;
    position: relative;
    height: 20px;
    overflow: hidden;
}

.item-deals__txt::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}

.item-deals.done .item-deals__txt::before {
    opacity: 1;
    visibility: visible;
}

.item-deals.remove {
    animation: remove 2s ease 1s 1 forwards;
}

li {
    background: rgba(0, 0, 0, 0.407);
}

@keyframes remove{
    0% {
        transform: translateX(0%);
        opacity: 1;
        height: 64px;
        margin-bottom: 15px;
        padding: 10px;
    }
    100% {
        transform: translateX(-150%);
        opacity: 0;
        height: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }
}

.deals__txt {
    
}

.group-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.group-btns__add {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 236, 33);
    transition: all 0.2s ease 0s;
}

.group-btns__add:hover {
    background: rgb(125, 234, 140);
    cursor: pointer;
}

.check-mark {
    position: relative;
}

.check-mark::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    left: -10px;
    top: 0;
}

.check-mark::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    left: -6px;
    top: -3px;
}

.trash__img {
    width: 40px;
    height: 40px;
}