.deals__header {
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
}

.deals__li:not(:last-child) {
    margin-bottom: 15px;
}

.deals__items {
    padding: 10px 0px;
    animation:  1s ease 0s 1 alternate;
}

@keyframes ul-appearance {
    0% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(0%) ;
    }
}

@keyframes ul-appearance-reverse {
    0% {
        transform: translateY(400%) ;
    }
    100% {
        transform: translateY(0%);
    }
}

.deals__li {
    transition: all .5s ease-out 0s;
    
}

.deals__li.done .deals__item,
.deals__li.green .deals__item {
    background: rgb(106, 216, 156);
}

.deals__li.deleted .deals__item{
    background: rgb(248, 70, 118);
}


