.deals__header {
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
}

.deals__li:not(:last-child) {
    margin-bottom: 15px;
}

.deals__items {
    padding: 10px 10px;
}

.deals__li {
    transition: all .5s ease-out 0s;
    
}