.header-todolist {
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    user-select: none;
}

.header-todolist__name {
}

.header-todolist__deals span {
    display: inline-block;
    animation:  1s ease 0s 1 forwards;
}

@keyframes dealsCount {
    0% {
        color: rgb(255, 255, 255);
    }
    100% {
        color: #000;
    }
}