.input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}

.input-field {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    transition: all 0.3s ease 0s;
    font-family: Montserrat;
}

.input-field:focus {
    outline: 0;
    box-shadow: inset 1px 1px 5px rgb(90, 181, 255), inset -1px -1px 5px rgb(90, 181, 255);
}

.input-field::placeholder {
    font-family: Montserrat;
}

.add {
    padding: 10px 15px;
    background: rgb(120, 224, 99);
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.add:hover {
    background: rgb(191, 255, 179);
    cursor: url(../../img/cursors/add.svg), pointer;
}